/* Additional styling for the worksheet */
.App {
  text-align: center;
}
h1 {
  color: #385337;
}.custom-label {
  font-size: 16px;
}


select.form-control {
  -webkit-appearance: menulist;
  appearance: menulist; /* Standard property */
}



option, input {
  text-align: center;
  font-size: 0px;
  border: none;
}
.worksheet {
  margin-top: 20px;
}

.equation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-right:20px;
  margin-top: -60px;
}

.chrome .operator {
  font-size: 1.5em;
  margin-top: 200px;
  margin-left: 60px;
}

  .operator {
    font-size: 1.5em;
    margin-top: 200px;
    margin-left: 200px;

  }


.generator-options {
  padding-top: 50px;
  color: #385337;
}

.logo{
  width: 20%;
  margin: auto;
}

.operand {
  font-size: 2.2em;
  text-align: right; /* Align operand2 to the left */
  margin-right: 200px;
  padding-bottom: 0px;
}


.answer {
  margin-top: -50px;
  padding-bottom: 50px;
  margin-left: 0px;
}

.problem {
  margin: 0px;
  padding-bottom: 0px;
  margin-top: 60px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 0px; /* Add your preferred margin value */
  font-size: 1.5em;

}

.refresh {
  text-align: center;
  margin: auto;
  display: block;

}
.problem-number {
  margin-right: 150px;
  margin-bottom: 150px;
}

/* Add more media queries for larger screens if necessary */


/* Media query for better print styling */
@media print {
    .container,
    .row,
    .col-md-12,
    .footer
           {
      width: 100%;
      height: 100%;
      justify-content: center;
    }
  .btn {
    display: none;
  }
  .problem {
    page-break-inside: avoid;
  }
  .footer {
    page-break-inside: avoid;
  }
}



